<p-table
  [value]="(products$ | async) || []" [tableStyle]="{'min-width': '50rem'}"
  selectionMode="single"
  [(selection)]="selectedProduct"
  dataKey="code"
  (onRowSelect)="onRowSelect($event)"
>
  <ng-template pTemplate="header">
    <tr>
      <th>#</th>
      <th>Beschreibung</th>
      <th>Preis</th>
      <th>Kaufen</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr>
      <td>{{product.identifier}}</td>
      <td>{{product.description}}</td>
      <td>{{product.price}}</td>
      <td><app-button (notify)="selectProduct(product)" label="Kaufen" icon="pi pi-cart-plus"></app-button></td>
    </tr>
  </ng-template>
</p-table>
