<ng-container *ngIf="cart.length; else empty">
<p-table
  [value]="cart || []" [tableStyle]="{'min-width': '50rem'}"
  selectionMode="single"
  dataKey="code"
>
  <ng-template pTemplate="header">
    <tr>
      <th>#</th>
      <th>Beschreibung</th>
      <th>Preis</th>
      <th>Anzahl</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr>
      <td>{{product.identifier}}</td>
      <td>{{product.description}}</td>
      <td>{{product.price}}</td>
      <td>{{product.counter}}</td>
    </tr>
  </ng-template>
</p-table>
</ng-container>

<ng-template #empty><h1>No Items</h1></ng-template>
