@import "primeflex/primeflex.css";

@font-face {
  font-family: Roboto;
  src: url(assets/fonts/Roboto-Regular.ttf) format("opentype");
}

* {
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}
/* You can add global styles to this file, and also import other style files */
